In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
import joblib

In [2]:
data = pd.read_csv('data-ori.csv')
display(data['SOURCE'])

0       out
1       out
2       out
3       out
4       out
       ...
4407     in
4408     in
4409    out
4410     in
4411    out
Name: SOURCE, Length: 4412, dtype: object

In [3]:
data.drop(columns= ['SOURCE', 'SEX'], inplace = True)
display(data)

,HAEMATOCRIT,HAEMOGLOBINS,ERYTHROCYTE,LEUCOCYTE,THROMBOCYTE,MCH,MCHC,MCV,AGE
0,35.1,11.8,4.65,6.3,310,25.4,33.6,75.5,1
1,43.5,14.8,5.39,12.7,334,27.5,34.0,80.7,1
2,33.5,11.3,4.74,13.2,305,23.8,33.7,70.7,1
3,39.1,13.7,4.98,10.5,366,27.5,35.0,78.5,1
4,30.9,9.9,4.23,22.1,333,23.4,32.0,73.0,1
...,...,...,...,...,...,...,...,...,...
4407,32.8,10.4,3.49,8.1,72,29.8,31.7,94.0,92
4408,33.7,10.8,3.67,6.7,70,29.4,32.0,91.8,92
4409,33.2,11.2,3.47,7.2,235,32.3,33.7,95.7,93
4410,31.5,10.4,3.15,9.1,187,33.0,33.0,100.0,98
4411,33.5,10.9,3.44,5.8,275,31.7,32.5,97.4,99

In [4]:
transformer = StandardScaler().fit(data)
filename = 'scaler_med2.sav'
joblib.dump(transformer, open(filename, 'wb'))

In [5]:
scaler_test = transformer.transform(data)
display(scaler_test)

array([[-0.51851899, -0.45282588,  0.1386983 , ...,  0.20915999,
        -1.32874197, -2.09981992],
       [ 0.88754881,  0.98971266,  1.08257298, ...,  0.53475367,
        -0.57053916, -2.09981992],
       [-0.78634143, -0.69324897,  0.25349387, ...,  0.29055841,
        -2.02862149, -2.09981992],
       ...,
       [-0.83655814, -0.74133359, -1.36639915, ...,  0.29055841,
         1.61658434,  2.13420078],
       [-1.12111948, -1.12601053, -1.77456118, ..., -0.27923052,
         2.24355975,  2.36431061],
       [-0.78634143, -0.88558744, -1.40466434, ..., -0.68622262,
         1.86445834,  2.41033257]])

In [6]:
display(scaler_test[4])

array([-1.2215529 , -1.36643362, -0.39701435,  2.65058428,  0.66230157,
       -1.80916623, -1.09321472, -1.69326255, -2.09981992])

In [8]:
# opening a saved scaler and doing some tests on scaling individual rows of data
row = [[30.9,9.9,4.23,22.1,333,23.4,32.0,73.0,1]]

loaded_transformer = joblib.load(open(filename, 'rb'))
scaler_test = loaded_transformer.transform(row)
print(scaler_test)

[[-1.2215529  -1.36643362 -0.39701435  2.65058428  0.66230157 -1.80916623
  -1.09321472 -1.69326255 -2.09981992]]

In [10]:
row = [[30.9,9.9,4.23,22.1,333,23.4,32.0,73.0,1]]
type(row)

list

In [9]:
row_df = data.iloc[4]
type(row_df)

pandas.core.series.Series